@media (max-width:500px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    html {
        font-size: 16px;
    }

    .header {
        position: fixed;
        width: 100vw;
        height: 10vh;
        z-index: 20;
    }

    .div2 {
        position: absolute;
        top: 100%;
        left: 100%;
        height: 90vh;
        width: 100vw;
        transition: 0.5s;
    }

    .links {

        width: 100%;
        height: 100%;
        background-color: pink;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }



    .links a {
        font-size: 1.5rem;
        text-transform: capitalize;
        text-decoration: none;
        margin: 12%;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

    .div3 {
        position: fixed;
        z-index: 199;
        background-color: aqua;
        width: 20vw;
        height: 10vh;
        top: 0;
        right: 0;

    }

    .btnwrap {
        width: 100%;
        height: 100%;
    }

    #btn {
        width: 100%;
        height: 100%;
        background-color: pink;
        border: 0;
        outline: none;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;

    }






    .active {
        transform: translate(-100%);
    }

    /* end of header */

    .main {
        width: 100vw;
        height: 100vh;
        background-image: url(./assets/yoga.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about {
        background-color: yellow;
        width: 100vw;
        height: 100vh;

    }

    .contact {
        background-color: greenyellow;
        width: 100vw;
        height: 100vh;

    }

    .maincontainer {
        position: relative;
        width: 100%;
        height: 100%;

    }

    .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .title h1 {
        font-size: 1.8rem;
        font-style: oblique;
        font-family: Marker Felt, fantasy;
        color: black;
        margin: 5%;
        text-shadow: 2px 3px 8px pink;
    }


    .hero {
        width: 100%;
        height: 32%;
        position: absolute;
        bottom: 0;
        /* background-color: aliceblue; */


    }

    .contentwrap {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

    }

    .contentwrap h2 {
        color: pink;
        font-size: 2rem;
        margin-top: 7%;
        text-align: center;

    }

    .contentwrap h4 {
        color: whitesmoke;
        font-size: 1.4rem;
        text-align: center;
    }

    .contentwrap p {
        color: pink;
        font-size: 1rem;
        text-align: center;
    }



    /* about section */

    .about-title {
        width: 100vw;
        height: 10vh;
        background-color: pink;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .about-title h2 {
        color: black;
        font-size: 2rem;
        text-transform: capitalize;
        margin-left: 10%;
    }

    .bio {
        width: 100vw;
        height: 40vh;
        background-color: pink;

    }

    .bio p {
        padding: 5%;
        font-size: 1.5rem;
        text-align: center;

    }

    .vidwrap {
        width: 100vw;
        height: 50vh;
        background-color: gray;
    }

    .vid {
        width: 100%;
        height: 100%;
    }


    .contact-title {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .contact-title h2 {
        color: black;
        font-size: 2rem;
        text-transform: capitalize;
        margin-left: 10%;
    }

    .info {
        width: 100vw;
        height: 50vh;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .socialmedia {
        width: 100vw;
        height: 30vh;
        background-color: gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


}



/* tablet styles */

@media (min-width:500px) and (max-width:1000px) {


    header {
        background-color: yellow;
    }



}


/* desktop styles */

@media (min-width:1000px) {


    header {
        background-color: aqua;
    }


}